body {
  background-image: url("../Assets/illustations et logo/All pages/arrière_plan.png");
  color: #fff;
  width: 100%;
}
.logo {
  width: 6em;
  height: 1.5em;
}
header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1vh 5.5vh 0vh 5.5vh;
}
nav ul {
  display: flex;
  gap: 3.5em;
  margin-top: 0px;
}
.réseaux {
  display: flex;
  flex-direction: column;
  float: left;
}
.section1 {
  display: flex;
  flex: 1 auto;
}
.élément1-section1 {
  margin: 2vh 1vh 0vh 6vh;
  /* position: fixed; */
}
.paragraphe-section1 {
  font-size: 16px;
}
.Pantherhome1 {
  margin-top: 0px;
  max-width: 800px;
  max-height: 750px;
  padding-bottom: 0px;
}
.section2 {
  margin-left: 18em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  background-color: #021740;
  max-height: 200px;
  width: fit-content;
  gap: 12px;
  margin-top: 0px;
  position: relative;
  padding: 0px;
  justify-content: center;
}
.section2-image1 {
  max-width: 170px;
  height: 34vh;
  width: 25vw;
  margin-left: 1vw;
  position: relative;
  top: -2vh;
}

.section2-image3 {
  max-width: 150px;
  max-height: 200px;
}
.section2-image2 {
  height: 200px;
  width: 13vw;
}
.paragraphe-section2 {
  font-size: 16px;
}
.bouton-suivant {
  font-weight: bolder;
  position: absolute;
  left: calc(75% + 100px);
  color: white;
  background-color: #021740;
  border-radius: 100px;
  font-size: 24px;
  border: 0px;
  left: 73vw;
  top: 14vh;
}
.section2 a {
  color: #fff;
}

@media screen and (max-width: 600px) {
  /* .Pantherhome1 {
    margin-top: 0px;
    max-width: 0px;
    max-height: 0px;
    padding-bottom: 0px;
  } */
  .élément1-section1 {
    margin: 2vh 1vh 0vh 6vh;
    position: fixed;
  }
}
