@import "variable";
footer {
  background-image: url("../illustations et logo/All pages/back_footer.png");
  color: #fff;
  font-size: 16px;
  font-family: "cantarellregular";
  font-weight: 100;
  width: 100%;
  padding: 3em 0em 8em 0em;
  margin: 7em 0em 0em 0em;

  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    margin-left: 53.5em;
    font-size: 12px;
  }
}
.footer2 {
  display: flex;
  gap: 9.4em;
  margin: -20em 0em 5em 40em;
}
.pages {
  display: flex;
  flex-direction: column;
}

.footer1 {
  position: relative;
  margin: 3rem 6rem 0rem 20rem;
  top: -3em;
  width: 14em;
  height: auto;
}
.social {
  width: 2.5em;
  margin-right: 0.5em;
}
.icon {
  position: relative;
  top: -13em;
  left: 22.5em;
}
.icon1 {
  width: 2em;
}
.icon2 {
  width: 1em;
}
.icon3 {
  width: 4em;
}
// ___________________________________________________________________________________________________________________
@import "variable";

@media screen and (max-width: 1024px) {
  .footer2 {
    gap: 5em;
    margin: -10em 0em 3em 20em;
  }

  .footer1 {
    margin: 3rem 3rem 0rem 10rem;
  }

  .icon {
    top: -14em;
    left: 13em;
  }

  footer p {
    margin-left: 30em;
  }
}
@media screen and (max-width: 768px) {
  .footer2 {
    flex-direction: row;
    align-items: center;
    gap: 2em;
    margin: -5em 0em 3em 0em;
  }

  .footer1 {
    margin: 2rem auto;
    text-align: center;
  }

  .icon {
    top: -5em;
    left: 50%;
    transform: translateX(-50%);
  }

  footer p {
    margin-left: 0;
    text-align: center;
  }
}
